@model BLL.ViewModel.PowerSupplyVM

@{
    ViewData["Title"] = "UpdatePowerSupply";
    var brands = ViewBag.Brands;
    var counter = 1;
}
<style>
    .container {
        position: relative;
        min-width: 170px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        max-height: 140px;
        min-height: 140px;
    }

    .overlay {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 83%;
        opacity: 0;
        transition: .3s ease;
        background-color: #00000078;
    }

    .container:hover .overlay {
        opacity: 1;
    }

    .icon {
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }
</style>

<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> PowerSupply </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Update PowerSupply</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Images</label>
                                    <div class="form-group" style="display:flex">
                                        @if (Model.Image.Count() != 0)
                                        {
                                            foreach (var image in Model.Image)
                                            {
                                                <div class="container" id="container_@image.GetHashCode()">
                                                    <img id="img_@image.GetHashCode()" src="~/Images/@image" alt="@Model.Psucode" class="image img-responsive img-thumbnail">
                                                    <div class="overlay">
                                                        <label for="firstimg_@image"><i class="fa fa-plus icon"></i></label>
                                                        <input type="file" name="Photo_@counter" id="firstimg_@image" style="display:none;visibility:none;" onchange="getImage(this.files[0],@image.GetHashCode());" />
                                                    </div>
                                                </div>
                                                counter++;
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= 3; i++)
                                            {
                                                <div class="container" id="container_@i">
                                                    <i id="icon_@i" class="fa fa-plus icon"></i>
                                                    <img id="img_@i" src="" class="image img-responsive img-thumbnail">
                                                    <div class="overlay">
                                                        <label for="firstimg_@i"><i class="fa fa-plus icon"></i></label>
                                                        <input type="file" name="Photo_@i" id="firstimg_@i" style="display:none;visibility:none;" onchange="getImage(this.files[0],@i);" />
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="form-group" style=" padding-top: 20px;">
                                        <label class="control-label">Code</label>
                                        <input id="code" value="@Model.Psucode" disabled class="form-control" />
                                        <span id="validcode" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <input id="name" value="@Model.Psuname" class="form-control" />
                                        <span id="validname" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Brand</label>
                                        <select id="brand" class="form-control">
                                            @if (brands != null)
                                            {
                                                foreach (var item in brands)
                                                {
                                                    if (item.BrandId == Model.PsubrandId)
                                                    {
                                                        <option value="@item.BrandId" selected>@item.BrandName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.BrandId">@item.BrandName</option>
                                                    }
                                                }
                                            }

                                        </select>
                                        <span id="validbrand" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Price</label>
                                        <input id="price" value="@Model.Psuprice" class="form-control" />
                                        <span id="validprice" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                        <span id="validprice1" style="display: none; font-size: 13px; color: #D10024">You must write only numbers</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Quantity</label>
                                        <input id="quantity" value="@Model.Psuquantity" class="form-control" />
                                        <span id="validquantity" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                        <span id="validquantity1" style="display: none; font-size: 13px; color: #D10024">You must write only numbers</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Watt</label>
                                        <input id="watt" value="@Model.Psuwatt" class="form-control" />
                                        <span id="validwatt" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                        <span id="validwatt1" style="display: none; font-size: 13px; color: #D10024">You must write only numbers</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Certificate</label>
                                        <input id="certification" value="@Model.Psucertificate" class="form-control" />
                                        <span id="validcertification" style="display: none; font-size: 13px; color: #D10024">Required field</span>
                                    </div>
                                    <div class="form-group">
                                        <input id="btnupdate" type="button" value="Update" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a href="/Admin/Admin/PowerSupply">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    function getImage(imagevalue, image) {
        debugger;
        if (imagevalue) {
            let reader = new FileReader();
            reader.onload = function(event) {
                $('#icon_' + image).remove();
                $('#img_' + image).attr("src", event.target.result);
            };
            reader.readAsDataURL(imagevalue);
        }
    }
    $(document).ready(function() {
        $('#btnupdate').click(function() {
            $('#validcode').hide();
            $('#validname').hide();
            $('#validbrand').hide();
            $('#validimage_1').hide();
            $('#validimage_2').hide();
            $('#validimage_3').hide();
            $('#validprice').hide();
            $('#validprice1').hide();
            $('#validquantity').hide();
            $('#validquantity1').hide();
            $('#validwatt').hide();
            $('#validwatt1').hide();
            $('#validcertification').hide();

            var code = $('#code').val();
            var name = $('#name').val();
            var brand = $('#brand').val();
            var photo_1 = $('#photo_1').val();
            var photo_2 = $('#photo_2').val();
            var photo_3 = $('#photo_3').val();
            var price = $('#price').val();
            var quantity = $('#quantity').val();
            var watt = $('#watt').val();
            var certification = $('#certification').val();
            if (code == null || code == undefined || $.trim(code) == "" || name == null || name == undefined || $.trim(name) == "" || brand == null || brand == undefined
                || photo_1 == null || photo_1 == undefined || $.trim(photo_1) == "" || photo_2 == null || photo_2 == undefined || $.trim(photo_2) == "" || photo_3 == null || photo_3 == undefined || $.trim(photo_3) == ""
                || price == null || price == undefined || $.trim(price) == "" || jQuery.isNumeric(price) != true || quantity == null || quantity == undefined || $.trim(quantity) == "" || jQuery.isNumeric(quantity) != true
                || watt == null || watt == undefined || $.trim(watt) == "" || jQuery.isNumeric(watt) != true || certification == null || certification == undefined || $.trim(certification) == "") {
                if (code == null || code == undefined || $.trim(code) == "") {
                    $('#validcode').show();
                }
                if (name == null || name == undefined || $.trim(name) == "") {
                    $('#validname').show();
                }
                if (brand == null || brand == undefined) {
                    $('#validbrand').show();
                }
                if (photo_1 == null || photo_1 == undefined || $.trim(photo_1) == "") {
                    $('#validimage_1').show();
                }
                if (photo_2 == null || photo_2 == undefined || $.trim(photo_2) == "") {
                    $('#validimage_2').show();
                }
                if (photo_3 == null || photo_3 == undefined || $.trim(photo_3) == "") {
                    $('#validimage_3').show();
                }
                if (price == null || price == undefined || $.trim(price) == "") {
                    $('#validprice').show();
                }
                else if (jQuery.isNumeric(price) != true) {
                    $('#validprice1').show();
                }
                if (quantity == null || quantity == undefined || $.trim(quantity) == "") {
                    $('#validquantity').show();
                }
                else if (jQuery.isNumeric(quantity) != true) {
                    $('#validquantity1').show();
                }
                if (watt == null || watt == undefined || $.trim(watt) == "") {
                    $('#validwatt').show();
                }
                else if (jQuery.isNumeric(watt) != true) {
                    $('#validwatt1').show();
                }
                if (certification == null || certification == undefined || $.trim(certification) == "") {
                    $('#validcertification').show();
                }
            }
            else {
                $.ajax({
                    url: "/Admin/Admin/UpdatePowerSupply?PsuCode=" + code + "&PsuName=" + name + "&PsuBrandId=" + brand + "&PsuPrice=" + price + "&PsuQuantity=" + quantity + "&PsuWatt=" + watt + "&PsuCertification=" + certification + "&Photo_1=" + photo_1 + "&Photo_2=" + photo_2 + "&Photo_2=" + photo_3,
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        if (result == "PsuUpdatedDone") {
                            window.location = "/Admin/Admin/PowerSupply";
                        }
                    }
                });
            }

        });
    });

</script>